<section class="filters">
  <div class="container">
    <p class="filters-title">Filters:</p>
    <form class="filters-form">
      <div class="search-wrapper">
        <input
          class="search-input"
          type="search"
          id="search"
          name="search"
          placeholder="Search for anything"
        />
        <svg class="search-icon" width="16" height="16" aria-hidden="true">
          <use href="./img/icons.svg#search" />
        </svg>
      </div>

      <!-- <label for="category" class="visually-hidden">Categories</label> -->
      <select class="filters-select" id="category" name="category">
        <option value="" disabled selected>Categories</option>
        <option value="show-all">Show all</option>
      </select>

      <select id="sort" name="sort">
        <option value="" disabled selected>Sort</option>
        <option value="az">A to Z</option>
        <option value="za">Z to A</option>
        <option value="price-low-high">Low to High</option>
        <option value="price-high-low">High to Low</option>
        <option value="popularity">Popular</option>
        <option value="newest">Newest</option>
        <option value="oldest">Oldest</option>
      </select>
    </form>
  </div>
</section>
