<section class="filters">
  <div>
    <form>
      <input
        type="search"
        id="search"
        name="search"
        placeholder="Search for anything"
      />
      <button type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>

      <label for="category" name="Categories"></label>
      <select id="category" name="category">
        <option value="beverages">Beverages</option>
        <option value="breads-bakery">Breads / Bakery</option>
        <option value="dairy">Dairy</option>
        <option value="deli">Deli</option>
        <option value="eggs">Eggs</option>
        <option value="fresh-produce">Fresh Produce</option>
        <option value="meat-seafood">Meat & Seafood</option>
        <option value="pantry-items">Pantry Items</option>
        <option value="prepared-foods">Prepared Foods</option>
        <option value="snacks">Snacks</option>
        <option value="show-all">Show all</option>
      </select>

      <select id="sort" name="sort">
        <option value="az">A to Z</option>
        <option value="za">Z to A</option>
        <option value="price-low-high">Price: Low to High</option>
        <option value="price-high-low">Price: High to Low</option>
      </select>
    </form>
  </div>
</section>
