<footer class="footer">
  <div class="container">
    <a class="logo-footer" href="./index.html">
      <svg class="footer-logo-svg" width="154" height="28">
        <use href="./img/icons.svg#icon-icon-logo-footer"></use>
      </svg>
    </a>

    <ul class="social-footer-list">
      <li class="social-footer-list-item">
        <a href="#">
          <svg class="footer-svg-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-footer-list-item">
        <a href="#">
          <svg class="footer-svg-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-insta"></use>
          </svg>
        </a>
      </li>
      <li class="social-footer-list-item">
        <a href="#">
          <svg class="footer-svg-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="info-footer">
      <h2 class="info-footer-liner">
        Discover the Variety of Flavors and Quality
      </h2>
      <p class="info-footer-text">
        An online store where you will find fresh, natural and delicious
        products for a healthy life and unforgettable gastronomic adventures.
      </p>
    </div>

    <div class="form-footer">
      <p class="form-subscribe">Subscribe and learn about new products!</p>
      <form class="form">
        <label class="form-label-input"
          ><input
            class="form-input"
            type="email"
            name="subscribe"
            placeholder="Email"
        /></label>
        <button class="button-input" type="submit">Send</button>
      </form>
    </div>
    <p class="terms">Food Boutique. All rights reserved.</p>
    <a class="terms" href="#">Privacy Policy</a><span class="terms">/</span
    ><a class="terms" href="#">Terms of Service</a>
  </div>
</footer>
