<header class="header">
  <nav class="nav">
    <a class="header-logo-svg" href="#">
      <svg class="logo-svg" width="154px" height="28px">
        <use href="../img/icons.svg#icon-Logo"></use>
      </svg>
    </a>
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./index.html" class="nav-link">Home</a>
      </li>

      <li class="nav-item">
        <button class="nav-item-cart" type="reset">
          <svg class="nav-item-cart-svg" width="18px" height="18px">
            <use
              href="../img/icons.svg#icon-heroicons-solid_shopping-cart"
            ></use>
          </svg>
        </button>
        <a href="./cart.html" class="nav-link">Cart</a>
      </li>
    </ul>
  </nav>
</header>
