<section>
  <div class="hero container">
    <h1 class="headline">
      Welcome to the <span class="part"> Food </span> Boutique!
    </h1>
    <p class="paragraph">
      With Food Boutique, you're not just subscribing to food, you're signing up
      for a fresher, fitter, and happier you.
    </p>

    <div class="hero-picture">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="./img/image_food_mob.jpg, ./img/image_food_mob@2x.jpg"
        />
        <source
          media="(max-width: 1439px)"
          srcset="./img/image_food_tab.jpg, ./img/image_food_tab@2x.jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="./img/women-sportswear-working-out-outdoors 1.jpg, ./img/women-sportswear-working-out-outdoors 1@2x.jpg"
        />
        <img
          class="client-main-img"
          src="./img/women-sportswear-working-out-outdoors 1.jpg"
          alt="Fresh vegetables"
        />
      </picture>

      <svg class="hero-svg-item" width="100" height="100">
        <use href="./img/icons.svg#icon-organic-food"></use>
      </svg>
    </div>
  </div>
</section>
