<div class="order-backdrop is-hidden" data-order-modal>
  <div class="order-modal" data-order-modal-window>
    <button class="order-close-modal" type="button" data-order-close>
      <svg class="order-svg-close" width="22" height="22">
        <use href="./img/icons.svg#close"></use>
      </svg>
    </button>

    <div class="order-modal-content">
      <img
        class="order-modal-image"
        src="./img/tomatoes.png"
        alt="Fresh tomatoes"
      />

      <div class="order-text-block">
        <h2 class="order-title">Order Success</h2>
        <p class="order-text">
          Thank you for shopping at Food Boutique. Your order has been received
          and is now being freshly prepared just for you!
        </p>
        <p class="order-text">
          Get ready to indulge in nourishing goodness, delivered right to your
          doorstep. We're thrilled to be part of your journey to better health
          and happiness.
        </p>
      </div>
    </div>
  </div>
</div>
