<section>
  <div class="turn-page-buttons">
    <button type="button" class="turn-page-btn">
      <svg class="btn-turn-left" width="20" height="20">
        <use href="../img/icons.svg#caret-small-left-double"></use>
      </svg>
    </button>

    <button type="button" class="turn-page-btn">
      <svg class="btn-turn-left" width="20" height="20">
        <use href="../img/icons.svg#caret-small-left"></use>
      </svg>
    </button>

    <ul class="pages-list"></ul>

    <button type="button" class="turn-page-btn">
      <svg class="btn-turn-right" width="20" height="20">
        <use href="../img/icons.svg#caret-small-right"></use>
      </svg>
    </button>

    <button type="button" class="turn-page-btn">
      <svg class="btn-turn-right" width="20" height="20">
        <use href="../img/icons.svg#caret-small-right-double"></use>
      </svg>
    </button>
  </div>
</section>
