.footer {
    background-color: var(--brand-color);
    padding-top: 40px;
    padding-bottom: 20px;
}

.logo-footer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.social-footer-list {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.social-footer-list-item {
opacity: 80%;
}

.footer-svg-icon {
    padding: 8px;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(232, 232, 226, 0.3);
    border-radius: 10px;
}
.info-footer {
    display: block;
  }

.info-footer-liner{
    color: var(--backgrownd-color);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 14px;
    
    line-height: 1.16667;
    letter-spacing: -0.02em;
}
  .info-footer-text {
    color: var(--backgrownd-color);
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 80px;
   
}
.form-footer {
   display: block;
  
}

.form-subscribe {
color: var(--backgrownd-color);
font-size: 14px;
padding-bottom: 20px;

}
.form {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 14px;

}

.form-input {
 width: 335px;
 height: 42px;
 background-color: var(--brand-color);
 border-radius: 30px;
 border: 1px solid var(--backgrownd-color);
 padding: 12px 18px 12px 18px;
}
.form-input::placeholder{
color: var(--backgrownd-color);
opacity: 0.7;
}
.button-input {
 width: 335px;
  height: 42px;
  border-radius: 30px;
  border: 1px solid var(--backgrownd-color);;
  font-weight: 700;
  font-size: 14px;
  
}
.terms {
  margin-top: 80px;
color: var(--backgrownd-color);
opacity: 0.9;
font-size: 14px;
}


