section{
  display: flex;
  align-items: center;
  justify-content: center;
}


.headline {
  text-align: center;
  font-size: 44px;
  padding-bottom: 16px;
  font-weight: 500;
  line-height: 48px;
  

}
.part {
  color: var(--brand-color);
}
.paragraph {
text-align: center;
text-wrap: balance;
font-size: 14px;
line-height: 18px;
font-weight: 400;


}

.hero-svg{
 display: flex;
 align-items: end;
 justify-content:flex;
}

.hero-svg-item{
position: relative;
top:100px;
left: 270px;
}

.client-main-img {
border-radius: 30px;
border: none;
}

@media (min-width: 768px) {
  .headline {
   font-size: 80px;
   line-height: 80px;
  
}
.paragraph {
font-size: 18px;
line-height: 24px;

}
.client-main-img{
 background-image: url(../img/bcg_img_tab@2x.png);  
}

}

@media (min-width: 1440px) {
  .client-main-img{
 background-image: url(../img/women-sportswear-working-out-outdoors\ 1@2x.jpg);  
}
} 