section{
  display: flex;
  align-items: center;
  justify-content: center;
}


.headline {
  text-align: center;
  font-size: 44px;
  padding-bottom: 16px;
  font-weight: 500;
  line-height: 48px;
  

}
.part {
  color: var(--brand-color);
}
.paragraph {
text-align: center;
font-size: 14px;
line-height: 18px;
font-weight: 400;
margin-bottom: 32px;

}
.hero-picture{
  position: relative;
}
.client-main-img {
border-radius: 60px;
border: none;
}

.hero-svg-item{
position:absolute;
z-index: 10;
top: -10px;
right:50px;

 
 
} 

@media (min-width: 768px) {
  .headline {
   font-size: 80px;
   line-height: 80px;
  
}
.paragraph {
font-size: 18px;
line-height: 24px;

}

.hero-svg-item {
  top: -30px;
right:30px;
}


}

@media (min-width: 1440px) {
  /* .client-main-img{
 background-image: url(../img/women-sportswear-working-out-outdoors\ 1@2x.jpg);  
} */
} 