.backdrop {
    background-color: rgba(1, 1, 1, 0.40);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
.is-hidden {
   opacity: 0;
   visibility: hidden;
}

.wrapper {
 padding: 20px;

}
.product-modal {
    width: 335px;
    height: auto;
    border-radius: 20px;
    background-color: var(--light-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}
.close-modal {
  width: 22px;
  height: 22px;
  padding: 0;
  transition: fill 0.25s var(--light-color);
  position: absolute;
  top: 13px;
  right: 9px;
  z-index: 1;
  border: none;
  background: transparent;

}

.svg-close-modal{
width: 12px;
height: 12px;
}
.svg-close-modal:hover{
  color: var(--brand-color);
  opacity: 0.5;
}
.card-img-modal{
  border-radius: 10px;
  background: var(--backgrownd-color);
  width: 295px;
  /* height: 212px; */
  padding: 0 18px;

}
.modal-text{
  overflow: auto;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  padding-top: 20px;

}
.prod-info-modal{
   opacity: 60%;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;

}

.prod-info-api-modal{
   color: var(--dark-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  margin-right: 8px;


}
.cart-svg-modal{
width: 20px;
height: 20px;

}


.price-modal{
  display: flex;
  flex-direction: column;
}

.old-price{
  text-decoration: line-through;
  color: #808000;
}
.div-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-add{
display: flex;
padding: 12px 24px;
border-radius: 30px;
border: none;
width: auto;
height: 42px;
background-color: var(--brand-color);
color: var(--light-color);
}

.cart-add:hover{
  background-color:#556B2F ;
}