.popular-card-style {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    height: 98px;
    background-color: var(--light-color);
   }

.popular-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.popular-img {
    width: 74px;
    height: 74px;
    border-radius: 10px;
    background-color: var(--backgrownd-color);
}
.pop-picture {
  border-radius: 10px;
  background-color: var(--backgrownd-color);
 
}


.product-name-pop {
font-size: 18px;
  font-weight: 500;
  line-height: 1.11111;
 
}
.popular-btn {
  position: relative;
  bottom: 40px;
  
}
.popular-btn-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgrownd-color);
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  
  cursor: pointer;
    margin-left: auto;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 4px;
} 
.popular-btn-svg {
    display: flex;
  justify-content: center;
  align-items: center; 
 stroke: var(--brand-color); 
 fill: var(--brand-color);
 height: 12px;
 
  }