.popular-card-style {
  
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    height: 98px;
    background-color: var(--light-color);
   
}
.popular-img {
    width: 74px;
    height: 74px;
    border-radius: 10px;
    background-color: var(--backgrownd-color);
}
.pop-picture {
  border-radius: 10px;
  background-color: var(--backgrownd-color);  
}

.popular-description {
   
    
    
}
.product-name-pop {
font-size: 18px;
  font-weight: 500;
  line-height: 20px;
 
}
.popular-btn {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  position: relative;
  bottom: 200px;
}
.popular-btn-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgrownd-color);
  border: none;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  color: var(--brand-color);
  cursor: pointer;
    margin-left: auto;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 4px;
} 
.popular-btn-svg {
  display: flex;
  justify-content: center;
  align-items: center;
 fill: currentColor;
  
  
}