*,
::before,
::after {
  box-sizing: border-box;
}

 @font-face {
    font-family: NeueMontreal;
    src: url('../fonts/neue-montreal/NeueMontreal-Regular.otf');
 }

:root{
  --main-font: "NeueMontreal";
  --brand-color: #6d8434;
  --main-hover-color: #586f1f;
  --dark-color: #010101;
  --backgrownd-color: #e8e8e2;
  --icon-color: #fdc152;
  --light-color: #fafafa;
  --transition-cub: cubic-bezier(0.4, 0, 0.2, 1);
}


body {
    font-family: var(--main-font);
    background-color: var(--backgrownd-color);
    margin: 0;
}
h2 {
  font-weight: 500;
}
.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  
}

.hiden-title {
  visibility: hidden;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 32px 100px;
  }
}