
 @font-face {
    font-family: NeueMontreal;
    src: url('../fonts/neue-montreal/NeueMontreal-Regular.otf');
 }

:root{
  --main-font: "NeueMontreal";
  --brand-color: #6d8434;
  --main-hover-color: #586f1f;
  --dark-color: #010101;
  --backgrownd-color: #e8e8e2;
  --icon-color: #fdc152;
  --light-color: #fafafa;
  --transition-cub: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: var(--main-font);
    background-color: var(--backgrownd-color);
}
.container {
  min-width: 320px;
  max-width: 375px;
  padding: 20px 0;
  margin: 0 auto;
}